#biatg-results {
    margin-top: 20px;
}

#biatg-table-body img {
    max-width: 100px;
    height: auto;
}

.biatg-alt-input {
    width: 100%;
}

#biatg-loading {
    display: none;
    margin-left: 10px;
}

#biatg-loading p {
    margin: 0;
}

#biatg-error {
    margin-top: 15px;
    padding: 10px;
    background: #ffe6e6;
    border: 1px solid #ff3333;
    border-radius: 3px;
    display: none;
}

#biatg-selected-images img {
    margin: 5px;
}
